.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(247, 236, 236, 0.5); /* Полупрозрачный серый фон */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* модалка выше других элементов */
  }
  
  .loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #6ebeff;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  

  @keyframes animloader {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.5);
      opacity: 0.5;
    }
  }
  
  .loading-text {
    color: #ffffff; /* Цвет текста для лучшей видимости на черном фоне */
    margin-top: 10px;
    font-size: 1.2em;
  }