@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url(../../Fonts/Montserrat-VariableFont_wght.ttf) format("ttf");
}

.card__container {
    display: flex;
    justify-content: center;
    margin: 130px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 200px;
    height: 250px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: radial-gradient(circle, rgba(240,212,224,1) 0%, rgba(148,187,233,1) 100%);
}

.button-translation {
  background-color: #E9D2E1;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid;

}

.button-translation:hover {
  transform: scale(1.1);
    transition: transform 0.5s ease;
    background-position: right center;
  background-color: #B0C3E6;

}

