.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 225, 221);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    

}
.header__wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
    
}


.header__logo {
    width: 50px;
}


.header__name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: rgb(64, 55, 49);
    text-shadow: 2px 2px 4px rgba(0, 0.3, 0.5, 0.5)
}

.header__nav {
    padding-right: 30px;
}

.header__nav-list {
    display: flex;
    padding-top: 15px;
    gap: 30px;
    list-style: none;
    /* cursor: pointer; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.header__link {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(64, 55, 49);
}

.header__link:hover {
    color: #EFB07D;
    
}