.footer {
    background-color: rgb(228, 225, 221);
    box-shadow: 0 -5px 2px  rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    /* margin: auto; */
    /* width: 100%; */

}

.footer-img {
    width: 100px;
    
}