.addButton {
    background-color: #B4A99E;
    color: white;
    text-align: left;
    padding:10px 40px;
    cursor: pointer; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
  }
  
  .addButton:hover {
    background-color: #B08C69;
    color:rgb(64, 55, 49);
  }

