.input {
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}